.contact_container {
  /* border: 1px solid red; */
  width: 50%;
  padding: 30px 50px;
}
.contact_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.contact_form label {
  font-weight: 500;
}
.contact_form button {
  background-color: #f05123;
  padding: 7px 30px;
  border: none;
  transition: all 0.2s linear;
  font-weight: 500;
  font-size: 15px !important;
}
.contact_form button:hover {
  background-color: #da603e;
}
