<div class="container-fluid courses">
  <div class="courses_block">
    <div class="courses_headding row">
      <div class="cou_headding__left col-md-10">Môn học</div>
      <!-- <div class="cou_headding__right col-md-2">Xem chi tiết</div> -->
    </div>
    <div class="courses_items row">
      <div
        class="col-sm-3 mt-4"
        ng-repeat="item in listSubjects|limitTo:8:begin"
      >
        <div class="courses_item">
          <div class="courses_item__img">
            <img src="./images/courses/{{item.Logo}}" alt="" />
          </div>
          <div class="line-gradient"></div>
          <div class="courses_item__name"><span>{{item.Name}}</span></div>
          <div class="courses_item__users">
            <i class="fa fa-users" aria-hidden="true"></i>
            72.000 <br />
            <a href="#!quiz/{{item.Id}}/{{item.Name}}" class="btn-grad"
              >KIỂM TRA</a
            >
          </div>
        </div>
      </div>

      <nav
        aria-label="Page navigation example"
        style="margin: 0 auto; margin-top: 30px"
      >
        <ul class="pagination justify-content-center m-0">
          <!-- <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li> -->

          <li class="page-item">
            <a class="page-link" ng-click="first()" href=""
              ><i class="fas fa-hand-point-up"></i
            ></a>
          </li>
          <li class="page-item">
            <a class="page-link" ng-click="prev()" href=""
              ><i class="fas fa-hand-point-left"></i
            ></a>
          </li>
          <li class="page-item">
            <a class="page-link" ng-click="next()" href=""
              ><i class="fas fa-hand-point-right"></i
            ></a>
          </li>
          <li class="page-item">
            <a class="page-link" ng-click="last()" href=""
              ><i class="fas fa-hand-point-down"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- -----------row 2 pro -->
  </div>
</div>
